<mat-card>
  <mat-card-header>
      <h2>Reset Password</h2>
  </mat-card-header>
  <mat-card-content>
      <form class="example-form" [formGroup]="forgotpasswordform" (ngSubmit)="proceedforgotpassword()">
          <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input matInput formControlName="name" >
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>One Time Password</mat-label>
              <input matInput formControlName="name" >
            </mat-form-field>
            <mat-form-field class="example-full-width">
            <mat-label>New Password</mat-label>
            <input matInput formControlName="id" >
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Confirm Password</mat-label>
              <input type="password" matInput formControlName="password" >
            </mat-form-field>
      
    

            <div>
              <button mat-raised-button color="primary">Submit</button>
              <a routerLink="/login" mat-raised-button color="accent">Back to Login</a>
            </div>
        </form>
  </mat-card-content>
</mat-card>


