
<main>
  <div class="intro">
    <h1>SU TUTORING CENTER</h1>
    <p>Center for Academic Success</p>
    <button>Book Now</button>
  </div>
</main>

<main>
  <div class="about-me">
    <div class="about-me-text">
      <p>
      As SU’s central learning center, the Center for Academic Success cultivates academic resilience through metacognitive development. We provide innovative services and transformational experiences that support the entire learning process to advance student persistence and achievement.</p>
  </div>
  </div>
</main>
