<div class="row">
<div class="search">
  <form class="form-inline md-form mr-auto mb-4">
    <input class="form-control mr-sm-3" style="margin: 10px;" type="text" placeholder="Search" aria-label="Search">
    <button class="btn btn-success aqua-gradient btn-rounded btn-sm my-3" type="submit">Search</button>
  </form>
</div>
<div class="tutor-card-container">
  <div class="card">
    <div>
      <img src="assets\images\Trivedi image.jpg " alt="Trivedi" style="width:50%">
    </div>
    <div class="details">
      <h1>Dr.Sudhir Trivedi</h1>
      <p class="title">Subject:Data Structures</p>
      <p>Rating: 4.6</p>
    </div>
    <div class="Availability">
      <p><button (click)="navigatebookappointment()">Book Now</button></p>
    </div>
  </div>

  <div class="card">
    <div>
      <img src=" assets\images\Gwee image.jpg" alt="Gwee" style="width:50%">
    </div>
    <div class="details">
      <h1>Dr. Angie Gwee</h1>
      <p class="title">Subject:Software Engr: Control</p>
      <p>Rating: 4.5</p>
    </div>
    <div class="Availability">
      <p><button (click)="navigatebookappointment()">Book Now</button></p>
    </div>
  </div>

  <div class="card">
    <div>
      <img src=" assets\images\krutthika image.jpg" alt="krutthika" style="width:50%">
    </div>
    <div class="details">
      <h1>Dr.krutthika Hirebasur Krishnappa</h1>
      <p class="title">Subject:Adv Topics in Info Systems</p>
      <p>Rating: 4.0</p>
    </div>
    <div class="Availability">
      <p><button (click)="navigatebookappointment()">Book Now</button></p>
    </div>
  </div>
 
  
</div>
</div>

