.tutors-table {
  border-collapse: collapse;
  width: 80%;
  margin: auto;
}

.tutors-table th, .tutors-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.tutors-table th {
  font-weight: bold;
}

.tutors-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
