<div class="card">
  <section class="vh-0" style="background-color: #fcfbfb;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-flex h-100">
        <div class="col col-md-9 col-lg-7 col-xl-5 max-auto">
          <div class="card-bookapp" style="border-radius: 20px; background-color: #93e2bb; width: 150%; text-align: left;">
            <div class="card-body p-5 text-black">
              <div class="d-flex align-items-center mb-1" style="display: flex;">
                <div class="flex-shrink-0">
                  <img src=" assets\images\walter image.jpg"
                    alt="Generic placeholder image" class="img-fluid rounded-circle border border-dark border-3"
                    style="width: 100px; height: 100px; position: relative;">
                </div>
                <div class="flex-grow-1 ms-3">
                  <div class="d-flex flex-column align-items-start mb-2">
                    <div class="mb-2"><p class="mb-0">Name: Dr.Angie Gwee</p></div>
                    <div class="mb-2"><p class="mb-0">Subject: Software Engr: Control</p></div>
                    
                  </div>
                </div>
              </div>
              <div class="d-flex flex-column">
                <div class="date-and-time">
                  <h3>Select date and time slot</h3>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="dateslot">Date:</label>
                        <select class="form-control" id="datepicker">
                          <option value="">Select a Date</option>
                          <option value="07/27/2023">07/27/2023</option>
                          <option value="07/28/2023">07/28/2023</option>
                          <option value="07/29/2023">07/29/2023</option>
                          <option value="07/30/2023">07/30/2023</option>
                          <option value="07/31/2023">07/31/2023</option>
                          
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="timeslot">Time slot:</label>
                        <select class="form-control" id="timeslot">
                          <option value="">Select a time slot</option>
                          <option value="9:00am">9:00am - 10:00am</option>
                          <option value="10:00am">10:00am - 11:00am</option>
                          <option value="11:00am">11:00am - 12:00pm</option>
                          <option value="1:00pm">1:00pm - 2:00pm</option>
                          <option value="2:00pm">2:00pm - 3:00pm</option>
                          <option value="3:00pm">3:00pm - 4:00pm</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>

                   </div>
                </div>
                <hr>
                <button type="button" class="btn btn-success btn-rounded btn-block btn-lg">
                  <!-- <button ng-click="requestAppointment()">Request Appointment</button>
                    <div ng-show="showDialog" class="dialog">
                    <div class="dialog-content">
                      <p>Your request has been sent. We will get back to you soon.</p>
                  <button ng-click="closeDialog()">OK</button>
                    </div>
                    </div> -->
                  <i class="far fa-clock me-2"></i>Request Appointment</button>
              </div>
            </div>
          </div>
        </div>