<mat-card>
    <mat-card-header>
        <h2>Registeration</h2>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" [formGroup]="registerform" (ngSubmit)="proceedregister()">
            <mat-form-field class="example-full-width">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="name" >
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="name" >
              </mat-form-field>
              <mat-form-field class="example-full-width">
              <mat-label>Username/Email</mat-label>
              <input matInput formControlName="id" >
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password" >
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Confirm Password</mat-label>
                <input type="password" matInput formControlName="password" >
              </mat-form-field>
      

              <mat-radio-group formControlName="role" aria-label="Select an option">
                <mat-radio-button value="tutor">Tutor</mat-radio-button>
                <mat-radio-button value="student">Student</mat-radio-button>
              </mat-radio-group>
              <div>
                <button mat-raised-button color="primary">Submit</button>
                <a routerLink="/login" mat-raised-button color="accent">Back to Login</a>
              </div>
          </form>
    </mat-card-content>
  </mat-card>


